Question 1

In [1]:
a = 0 

def b(): 
    global a 
    a = c(a) 

def c(a): 
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

Question 2

In [6]:
def file_length(file_name):
    try:
        with open(file_name, 'r') as file:
            contents = file.read()
            print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found.")

In [7]:
# Testing the function
file_length('Filelength.txt')
file_length('ilelength.txt')

123
File ilelength.txt not found.

Question 3

In [8]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [9]:
# Testing the classes
k = Kangaroo(0, 0)

In [10]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [11]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

['doll', 'firetruck', 'kitten']

In [12]:
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (3,0)

Question 4

In [13]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [14]:
collatz(1)

1

In [15]:
collatz(10)

10
5
16
8
4
2
1

Question 5

In [16]:
def binary(n):
    if n < 2:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [17]:
binary(0)

0

In [18]:
binary(1)

1

In [19]:
binary(3)

11

In [20]:
binary(9)

1001

Question 6

In [21]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.in_heading = True
            self.heading_level = int(tag[1])

    def handle_endtag(self, tag):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.in_heading = False
            self.heading_level = 0

    def handle_data(self, data):
        if self.in_heading:
            print(' ' * (self.heading_level - 1) + data)

In [22]:
infile = open('w3c.html')

In [23]:
content = infile.read()

In [24]:
infile.close()

In [25]:
hp = HeadingParser()

In [26]:
hp.feed(content)

W3C Mission
 Principles

Question 7

In [52]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

def webdir(url, depth, indent):
    if depth < 0:
        return

    # Print the URL with the required indentation
    print(' ' * indent + url)

    try:
        # Send a GET request to the URL
        response = requests.get(url)
        response.raise_for_status()  # Raise an HTTPError for bad responses

        # Parse the HTML content
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find all the anchor tags
        links = soup.find_all('a', href=True)

        # Recursively visit each link
        for link in links:
            # Get the absolute URL
            absolute_url = urljoin(url, link['href'])
            # Recursively call webdir with reduced depth and increased indentation
            webdir(absolute_url, depth - 1, indent + 1)

    except requests.exceptions.RequestException as e:
        print(' ' * indent + f'Error: {e}')

In [53]:
# Testing the function
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Error: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Question 8

In [29]:
import sqlite3

# Connect to the SQLite database (create if it doesn't exist)
conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

# Create the Weather table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')

# Insert the given data into the Weather table
weather_data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('''
INSERT INTO Weather (City, Country, Season, Temperature, Rainfall)
VALUES (?, ?, ?, ?, ?)
''', weather_data)

# Commit the changes
conn.commit()

In [30]:
# Function to execute and print the result of a query
def execute_query(query):
    cursor.execute(query)
    result = cursor.fetchall()
    for row in result:
        print(row)
    print()

In [31]:
print("Select all values from a table")
execute_query("SELECT * FROM Weather")

Select all values from a table
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [32]:
# a) All the temperature data
print("a) All the temperature data:")
execute_query("SELECT Temperature FROM Weather")

a) All the temperature data:
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [33]:
# b) All the cities, but without repetition
print("b) All the cities, but without repetition:")
execute_query("SELECT DISTINCT City FROM Weather")

b) All the cities, but without repetition:
('Mumbai',)
('London',)
('Cairo',)

In [34]:
# c) All the records for India
print("c) All the records for India:")
execute_query("SELECT * FROM Weather WHERE Country = 'India'")

c) All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [35]:
# d) All the Fall records
print("d) All the Fall records:")
execute_query("SELECT * FROM Weather WHERE Season = 'Fall'")

d) All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [36]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
execute_query("SELECT City, Country, Season FROM Weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [37]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
execute_query("SELECT City, Country FROM Weather WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature)")

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')

In [38]:
# g) The total annual rainfall for Cairo
print("g) The total annual rainfall for Cairo:")
execute_query("SELECT SUM(Rainfall) AS TotalRainfall FROM Weather WHERE City = 'Cairo'")

g) The total annual rainfall for Cairo:
(27.6,)

In [39]:
# h) The total rainfall for each season
print("h) The total rainfall for each season:")
execute_query("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM Weather GROUP BY Season")

h) The total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

In [40]:
# Close the connection
conn.close()

Question 9

In [41]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [42]:
# a)
uppercase_words = [word.upper() for word in words]
uppercase_words

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [43]:
# b)
lowercase_words = [word.lower() for word in words]
lowercase_words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [44]:
# c)
word_lengths = [len(word) for word in words]
word_lengths

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [45]:
# d)
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
word_info

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [46]:
# e)
long_words = [word for word in words if len(word) >= 4]
long_words

['quick', 'brown', 'jumps', 'over', 'lazy']